#app {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Title {
    display: flex;
    justify-content: center;
    font-style:normal ;
    font-weight: 50 ;
    font-size: 500%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}

.ShadowList {
    box-shadow: 0px 1px 6px -1px black;
}

.list-element {
    display: flex;
    justify-content: space-between;

}

.lista {
    box-shadow: 0px 1px 6px -1px black;
    width: 500px;
}

.close-item {
visibility: visible;
color: gray;
}

.InputTask {
    border: hidden;
}

/* .InputTask:hover span{
    visibility: visible;
    color: gray;
} */